<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sliit.dailyselfie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_main_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".FitnessActivity"
            android:label="@string/title_activity_fitness"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddChallangeActivity"
            android:label="@string/title_activity_add_challange"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChildGrowthActivity"
            android:label="@string/title_activity_child_growth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiaryActivity"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaternityActivity"
            android:label="@string/title_activity_maternity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoshaveActivity"
            android:label="@string/title_activity_noshave"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostMaternityActivity"
            android:label="@string/title_activity_post_maternity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
